:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-surface-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-link);
}
 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  a:hover {
    color: var(--color-link-hover);
  }
  button {
    background-color: var(--color-surface-light);
  }
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-button {
  background-color: var(--color-success);
  color: white;
  border: none;
  padding: 1.5rem 1.5rem;
  border-radius: var(--button-radius);
  font-size: 1rem;
  cursor: pointer;
  width: var(--button-width);
  text-align: center;
}

.nav-button:hover {
  background-color: var(--color-success-600);
}

.page-title {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}