:root {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-primary: #007bff;
  --color-primary-600: #0056b3;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-bar: #333;

  --bg-gradient-dark: linear-gradient(180deg, #2b2b2b 0%, #1a1a1a 100%);
  --bg-gradient-light: linear-gradient(135deg, #cfdcee 0%, #4d7ee7 100%);
  --bg-gradient: var(--bg-gradient-dark);

  --button-radius: 6px;
  --button-width: 18rem;
  --gap-lg: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-text: #333;
    --color-link-hover: #747bff;
    --bg-gradient: var(--bg-gradient-light);
  }
}

:root {
  --color-surface-dark: #1a1a1a;
  --color-surface-light: #f9f9f9;
  --color-success: #174ab9;
  --color-success-600: #09428d;
  --color-link-alpha: #646cffaa;
  --color-react-accent: #61dafb;
  --color-react-accent-alpha: #61dafbaa;
}
