.photo-container {
    margin-top: 3em;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}