.photo-container {
    margin: 3em 0;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}